recursive-include Programs/Python/bin *
recursive-include Programs/Python/misc *
recursive-include Programs/Python/RE *
recursive-include Programs/Python/docs *
recursive-include Programs/Python/temp *
recursive-include Programs/Python/Results *
recursive-include Data *
recursive-include Figures *